// Colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

$light-grayish-blue: hsl(240, 5%, 91%);

$white: #ffffff;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  color: $very-dark-grayish-blue;
}

section {
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient($soft-violet, $soft-blue);
}

.card-wrapper {
  width: 920px;
  height: 509px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $white;
  border-radius: 23px;
  background-image: url(./images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-position: left -85px top 75px;
}

.left {
  background: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: right 70px bottom -140px;
  position: relative;
}

.box {
  position: absolute;
  bottom: 110px;
  left: -95px;
}

.h1 {
  font-size: 32px;
  font-weight: 700;
  padding-top: 2rem;
  margin-bottom: 1.5rem;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.question-wrapper {
  border-bottom: 1px solid $light-grayish-blue;
}

.question {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-title {
  font-size: 14px;
}

.question-title:hover {
  color: $soft-red;
  cursor: pointer;
}

.arrow:hover {
  cursor: pointer;
}

.answer {
  width: 321px;
  padding-bottom: 0.75rem;
  line-height: 1.2rem;
  display: none;
}

.mobile {
  display: none;
}

//added classes with JS
.active > [data-question] > [data-title] {
  color: $very-dark-desaturated-blue;
  font-weight: 700;
}

.active > [data-answer] {
  display: block;
}

.active > [data-question] > [data-arrow] {
  transform: rotate(180deg);
  transition: 0.2s;
}

@media only screen and (max-width: 375px) {
  .left {
    display: none;
  }

  .card-wrapper {
    background-image: none;
    width: 327px;
    height: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  .mobile {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-woman {
    width: 237px;
    position: relative;
    bottom: 110px;
  }

  .mobile-pattern {
    width: 240px;
    position: relative;
    bottom: 180px;
  }

  .h1 {
    margin-top: -12rem;
    text-align: center;
  }

  .right-wrapper {
    align-items: center;
  }

  .question-title {
    font-size: 13px;
  }

  .question {
    width: 279px;
    padding-bottom: 0.35rem;
  }

  .answer {
    width: 250px;
  }
}
